# snippets for asciidoc

snippet -
	----
	${0:${VISUAL}}
	----

snippet -java
	[source,java]
	----
	${0:${VISUAL}}
	----

snippet -xml
	[source,xml]
	----
	${0:${VISUAL}}
	----

snippet -json
	[source,json]
	----
	${0:${VISUAL}}
	----

snippet -yaml
	[source,yaml]
	----
	${0:${VISUAL}}
	----

snippet +
	++++
	${0:${VISUAL}}
	++++

snippet img
	image::${0:target}[]
